.background-page-child {
  position: absolute;
  top: 803px;
  left: 549px;
  width: 377px;
  height: 377px;
}
.background-page-item {
  position: absolute;
  top: 405px;
  left: 749px;
  width: 567px;
  height: 567px;
}
.background-page-inner {
  position: absolute;
  top: 0;
  left: 1012px;
  width: 998px;
  height: 998px;
}
.contact-us14,
.help-support14,
.home15 {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.home15 {
  left: 0;
  cursor: pointer;
}
.contact-us14,
.help-support14 {
  left: 342px;
}
.contact-us14 {
  left: 587px;
}
.header-child22,
.home-parent11 {
  position: absolute;
  top: 35px;
  left: 309px;
  width: 736px;
  height: 29px;
}
.header-child22 {
  height: 58.97%;
  width: 5.3%;
  top: 8.51%;
  right: 94.7%;
  bottom: 32.52%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

input[type="text"]{
  font-size: 20px;
}

.deo-dio29 {
  margin: 0;
}
.deo-dio28 {
  position: absolute;
  top: 7px;
  left: 82px;
  letter-spacing: 0.04em;
  line-height: 70px;
  font-weight: 900;
  display: inline-block;
  width: 180px;
  height: 73px;
}
.phmagnifying-glass-icon13 {
  position: absolute;
  top: 20px;
  left: 2054px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: 0.1;
}

/* #search-icon{
  opacity: 0.1;
}
#search-icon:active{
  opacity: 0;
} */

/* .phmagnifying-glass-icon13-disabled {
  pointer-events: none;
  opacity: 0.5;
} */

.header-child23 {
  position: absolute;
  top: 13px;
  left: 1354px;
  background-color: var(--color-darkgray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 232px;
  height: 51px;
}
.user-profile-png-free-download-icon13 {
  position: absolute;
  top: 21px;
  left: 1097px;
  width: 48px;
  height: 48px;
  object-fit: cover;
  cursor: pointer;
}
.products21 {
  position: relative;
}
.option24 {
  position: absolute;
  height: 94.68%;
  top: 2.66%;
  bottom: 2.66%;
  left: calc(50% - 88.5px);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-menu-compdefaultno-child17 {
  position: absolute;
  height: 18.83%;
  width: 10.25%;
  top: 41.77%;
  right: 1.29%;
  bottom: 39.4%;
  left: 88.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dropdown-menu-compdefaultno20 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.dropdown-menu-comp20 {
  position: absolute;
  top: 0;
  left: 421px;
  width: 182px;
  height: 94px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.header13 {
  position: absolute;
  height: 94%;
  width: 100%;
  top: 3%;
  right: 0;
  bottom: 3%;
  left: 0;
  font-family: var(--text);
}
.cart-2-icon13,
.top-bar13 {
  position: absolute;
  height: 100px;
}
.cart-2-icon13 {
  top: 0;
  left: 1156px;
  width: 161.94px;
  object-fit: cover;
  cursor: pointer;
}
.top-bar13 {
  top: 50px;
  left: 71px;
  width: 1586px;
}
.background-page {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-size);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
