.phmagnifying-glass-icon20 {
  position: absolute;
  top: 42px;
  left: 1431px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.create-new-password-child {
  position: absolute;
  top: 803px;
  left: 549px;
  width: 377px;
  height: 377px;
}
.create-new-password-item {
  position: absolute;
  top: 405px;
  left: 749px;
  width: 567px;
  height: 567px;
}
.create-new-password-inner {
  position: absolute;
  top: 0;
  left: 1012px;
  width: 998px;
  height: 998px;
}
.pixel-front-white-640x426-remo-icon17 {
  position: absolute;
  top: 314px;
  left: 1008px;
  width: 500px;
  height: 481.21px;
  object-fit: cover;
}
.create-new-password-child1 {
  position: absolute;
  height: 4.96%;
  width: 4.86%;
  top: 3.49%;
  right: 90.45%;
  bottom: 91.55%;
  left: 4.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home23 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  cursor: pointer;
}
.about-us2,
.contact-us22,
.help-support22 {
  position: absolute;
  top: 0;
  left: 342px;
  font-weight: 500;
}
.about-us2,
.contact-us22 {
  left: 599px;
}
.contact-us22 {
  left: 789px;
}
.home-parent18 {
  position: absolute;
  top: 53px;
  left: 395px;
  width: 938px;
  height: 29px;
  font-family: var(--font-roboto);
}
.deo-dio45 {
  margin: 0;
}
.deo-dio44 {
  position: absolute;
  top: 31px;
  left: 163px;
  letter-spacing: 0.04em;
  line-height: 70px;
  font-weight: 900;
  font-family: var(--text);
  display: inline-block;
  width: 180px;
  height: 73px;
}
.create-new-password-child2 {
  position: absolute;
  top: 42px;
  left: 1431px;
  background-color: var(--color-darkgray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 232px;
  height: 51px;
}
.create-new-password-child3,
.rectangle55 {
  position: absolute;
  top: 987px;
  left: 1129px;
  width: 260px;
  height: 30px;
}
.rectangle55 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #9b77e7, #1600a0 99.99%);
  width: 510.95px;
  height: 51.21px;
  cursor: pointer;
}
.login2 {
  position: absolute;
  top: 14.79px;
  left: 218.01px;
  line-height: 20px;
  text-transform: capitalize;
  display: inline-block;
  width: 74.94px;
  height: 22.76px;
}
.login-btn18,
.your-new-password {
  position: absolute;
  top: 386px;
  left: 0.04px;
  width: 510.95px;
  height: 51.21px;
}
.your-new-password {
  top: 109px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  display: inline-block;
  width: 500px;
  height: 22.76px;
}
.create-new-password1,
.form1 {
  position: absolute;
  width: 1000px;
}
.create-new-password1 {
  top: 0;
  left: calc(50% - 500px);
  font-size: var(--font-size-29xl);
  line-height: 70px;
  display: inline-block;
  font-family: var(--font-poppins);
  background: linear-gradient(90deg, #9b77e7, #1600a0 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  height: 70px;
}
.form1 {
  top: 314px;
  left: 284.84px;
  height: 437.21px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.rectangle56 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.enter-new-password {
  position: absolute;
  height: 44.44%;
  width: 39.14%;
  top: 26.67%;
  left: 6%;
  line-height: 20px;
  display: inline-block;
  opacity: 0.75;
  border: 10 px;
}
.component-for-create-new-passw {
  position: absolute;
  top: 518px;
  left: 294px;
  width: 510.95px;
  height: 51.21px;
  font-size: var(--font-size-sm);
}
.confirm-password {
  position: absolute;
  height: 44.44%;
  width: 39.14%;
  top: 28.89%;
  left: 6%;
  line-height: 20px;
  display: inline-block;
  opacity: 0.75;
}
.component-for-create-new-passw1 {
  position: absolute;
  top: 597px;
  left: 294px;
  width: 510.95px;
  height: 51.21px;
  font-size: var(--font-size-sm);
}
.create-new-password-child4 {
  position: absolute;
  top: 37px;
  left: 79px;
  width: 80px;
  height: 61px;
  overflow: hidden;
}
.products29 {
  position: absolute;
  top: 44px;
  left: 549px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 159px;
  height: 47px;
  cursor: pointer;
}
.create-new-password {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-size);
  color: var(--color-black);
  font-family: var(--font-lexend-deca);
}

input[type="text"]{
  font-size: 20px;
  opacity: 1;
}

input[type="password"]{
  font-size: 20px;
  opacity: 1;
}

.searchcod {
  position: absolute;
  top: 45px;
  left: 1370px;
  width: 250px;
  height: 50px;
  overflow: hidden;
  opacity: 0.5;
  border:0px;
}

.searchcode {
  position: absolute;
  top: 4px;
  left: 20px;
  width: 250px;
  height: 50px;
  overflow: hidden;
  opacity: 0.5;
  border:0px;
}

.searchcode1 {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 250px;
  height: 50px;
  overflow: hidden;
  opacity: 0.5;
  border:0px;
}

/* .enter-new-password {
  height: 44.44%;
    width: 39.14%;
    top: 26.67%;
    left: 6%;
    line-height: 20px;
    display: inline-block;
    opacity: 0.75;
} */