.phmagnifying-glass-icon21 {
  position: absolute;
  top: 73px;
  left: 1431px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.forgot-password-page-child {
  position: absolute;
  top: 803px;
  left: 549px;
  width: 377px;
  height: 377px;
}
.forgot-password-page-item {
  position: absolute;
  top: 405px;
  left: 749px;
  width: 567px;
  height: 567px;
}
.forgot-password-page-inner {
  position: absolute;
  top: 0;
  left: 1012px;
  width: 998px;
  height: 998px;
}
.pixel-front-white-640x426-remo-icon18 {
  position: absolute;
  top: 306px;
  left: 994px;
  width: 550px;
  height: 550px;
  object-fit: cover;
}
.forgot-password-page-child1 {
  position: absolute;
  height: 4.96%;
  width: 4.86%;
  top: 6.27%;
  right: 90.45%;
  bottom: 88.77%;
  left: 4.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home24 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  cursor: pointer;
}
.about-us3,
.contact-us23,
.help-support23 {
  position: absolute;
  top: 0;
  left: 342px;
  font-weight: 500;
}
.about-us3,
.contact-us23 {
  left: 599px;
}
.contact-us23 {
  left: 789px;
}
.home-parent19 {
  position: absolute;
  top: 83px;
  left: 395px;
  width: 938px;
  height: 29px;
}
.deo-dio47 {
  margin: 0;
}
.deo-dio46 {
  position: absolute;
  top: 61px;
  left: 163px;
  letter-spacing: 0.04em;
  line-height: 70px;
  font-weight: 900;
  font-family: var(--text);
  display: inline-block;
  width: 180px;
  height: 73px;
}
.forgot-password-page-child2 {
  position: absolute;
  top: 72px;
  left: 1431px;
  background-color: var(--color-darkgray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 232px;
  height: 51px;
}
.forgot-password-page-child3,
.rectangle58 {
  position: absolute;
  top: 987px;
  left: 1129px;
  width: 260px;
  height: 30px;
}
.rectangle58 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #9b77e7, #1600a0 99.99%);
  width: 510.95px;
  height: 51.21px;
  cursor: pointer;
}
.submit {
  position: absolute;
  top: 14.79px;
  left: 218.01px;
  line-height: 20px;
  text-transform: capitalize;
  display: inline-block;
  width: 100px;
  height: 22.76px;
}
.login-btn19,
.rectangle59 {
  position: absolute;
  top: 272px;
  left: 40.88px;
  width: 510.95px;
  height: 51.21px;
}
.rectangle59 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.enter-email {
  position: absolute;
  height: 44.44%;
  width: 39.14%;
  top: 26.67%;
  left: 6%;
  line-height: 20px;
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.component-for-reset-password {
  position: absolute;
  top: 182px;
  left: 40.88px;
  width: 510.95px;
  height: 51.21px;
  text-align: left;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.47);
  font-family: var(--font-jost);
}
.enter-the-email,
.reset-password {
  position: absolute;
  display: inline-block;
}
.enter-the-email {
  top: 101.41px;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  width: 591px;
  height: 22.76px;
}
.reset-password {
  top: 0;
  left: calc(50% - 379.56px);
  font-size: var(--font-size-45xl);
  line-height: 70px;
  font-family: var(--font-poppins);
  background: linear-gradient(90deg, #9b77e7, #1600a0 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  width: 800px;
  height: 70px;
}
.form2 {
  position: absolute;
  top: 348px;
  left: 244px;
  width: 840.88px;
  height: 323.21px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-lexend-deca);
}
.products30 {
  position: absolute;
  top: 74px;
  left: 526px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 159px;
  height: 47px;
  cursor: pointer;
}
.forgot-password-page {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-size);
  color: var(--color-black);
  font-family: var(--font-roboto);
}

input[type="text"]{
  font-size: 20px;
  opacity: 1;
}

.searchcod {
  position: absolute;
  top: 20px;
  left: 1354px;
  width: 250px;
  height: 50px;
  overflow: hidden;
  opacity: 0.5;
  border:0px;
}